@use '../abstracts/mixin' as mixin;
@use '../abstracts/colors' as clr;
@use '../abstracts/fonts' as fonts;

.about-wrapper {
  width: 100%;
  padding: 2rem;
  @include mixin.flexbox(center, center, column);

  @media screen and (min-width: 850px) {
    @include mixin.flexbox(flex-start, flex-start, column);
  }
}
.message-wrapper {
  gap: .5rem;
  text-align: center;
  transform: translateY(-50%);

  @media screen and (min-width: 850px) {
    width: 100%;
    gap: 0;
    transform: translateY(0);
    text-align: start;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: auto auto;
    align-items: start;
    justify-items: start;

    & .about-title {
      grid-column: 1 / 2
    }
    
    & .first-block {
      grid-column: 1 / 2;
      grid-row: 2 / 3;
    }

    & .second-block {
      grid-column: 2 / 3;
      grid-row: 2 / 3;
    }
  }
}