@use '../abstracts/mixin' as mixin;
@use '../abstracts/colors' as clr;
@use '../abstracts/fonts' as fonts;

.about-wrapper {
  width: 100%;
  padding: 2rem;
  @include mixin.flexbox(center, center, column);

  @media screen and (min-width: 850px) {
    @include mixin.flexbox(flex-start, flex-start, column);
  }
}
.message-wrapper {
  gap: .5rem;
  text-align: center;
  transform: translateY(-50%);

  @media screen and (min-width: 850px) {
    transform: translateY(0);
    text-align: start;
  }
}