@use '../abstracts/mixin' as mixin;

.home-wrapper {
  width: 100%;
  padding: 2rem;
  @include mixin.flexbox(center, center);

  @media screen and (min-width: 850px) {
    @include mixin.flexbox(flex-start, flex-start);
  }
}
.greeting-wrapper {
  transform: translateY(-25%);
  @include mixin.flexbox(center, center, column);

  & a {
    text-decoration: none;
    margin-top: 1rem;
    padding-block: .5rem;
    padding-inline: 1.5rem;
    border-radius: 10px !important;
  }

  @media screen and (min-width: 850px) {
    transform: translateY(0);
    @include mixin.flexbox(center, flex-start, column);
  }
}