.disposable {
  opacity: 1;
  visibility: visible;
  transition: opacity .5s ease-in-out .5s, visibility 0s ease-in-out .5s;

  &.active {
    opacity: 0;
    visibility: hidden;
    transition: opacity .3s ease-in-out, visibility 0s ease-in-out .3s;
  }
}