<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>STARTER</title>
  </head>
  <body>
    <img src="img/hero-img-cartoon.jpg" class="hero-image fixed-top object-fit-cover" alt="">
    <div class="container-fluid">
      <div class="wrapper">
        <main class="main-wrapper glass">
          <header class="header-wrapper">
            <P class="header-title fs-6 fw-medium text-primary disposable">YUDISTIRA ARDI</P>
            <div class="resume-wrapper disposable active">
              <P class="resume-title fs-6 fw-medium text-primary lh-1">Download Resume</P>
              <div class="download-wrapper">
                <a href="https://drive.google.com/uc?export=download&id=1EWpv2uVfZwNPyl4GJBpRxU1ADPhn5NsT" class="text-decoration-none fs-10 fw-light">Indonesia (ID)</a>
                <p class="fs-12 text-primary">|</p>
                <a href="https://drive.google.com/uc?export=download&id=1aKS1yiz-s7DVWcEHQry_I0bY1HWNoz2P" class="text-decoration-none fs-10 fw-light">English (EN)</a>
              </div>
            </div>
            <button type="button" class="btn-resume">
              <p class="fs-6 fw-medium text-primary">RESUME</p>
              <i class="bi bi-list fs-5 text-primary"></i>
            </button>
          </header>
          <div class="content-wrapper">
            <home-content
              greetingTitle="Hi there, it's Ardi."
              greetingMessage="I am a &lt/front-end developer&gt."
              class="home-wrapper disposable"
              id="home"
            >
            </home-content>
            <about-content
              aboutTitle="I'm addicted."
              aboutMessage="Amet consectetur adipisicing Delectus doloribus vero incidunt Lorem ipsum, aliquam quos error?"
              class="about-wrapper d-none disposable active"
              id="about"
            >
            </about-content>
            <skills-content
              title="Lorem Ipsum"
              favoriteTitle="Technologies I addicted the most"
              favoriteItems="javascript,javascript,javascript"
              techTitle="Technologies I addicted the most"
              techItems="javascript,javascript,javascript,javascript,javascript,javascript,javascript,javascript,javascript,javascript"
              skillsMessage="I know it's not much but trust me, I am a "
              skillsMessageBold="fast learner."
              class="skills-wrapper d-none disposable active"
              id="skills"
            >
            </skills-content>
            <project-item
              title="NEWSFLIX",
              imageLink="img/tes.jpg",
              liveLink="#",
              codeLink="#",
              description="Lorem ipsum dolor sit amet meta.",
              technologies="javascript,lit,sass,css,html,git",
              class="projects-wrapper d-none disposable active"
              id="project-1"
            >
            </project-item>
            <project-item
              title="NEWSFLIX #2",
              imageLink="img/tes.jpg",
              liveLink="#",
              codeLink="#",
              description="Lorem ipsum dolor sit amet meta.",
              technologies="javascript,lit,sass,css,html,git",
              class="projects-wrapper d-none disposable active"
              id="project-2"
            >
            </project-item>
            <project-item
              title="NEWSFLIX #3",
              imageLink="img/tes.jpg",
              liveLink="#",
              codeLink="#",
              description="Lorem ipsum dolor sit amet meta.",
              technologies="javascript,lit,sass,css,html,git",
              class="projects-wrapper d-none disposable active"
              id="project-3"
            >
            </project-item>
            <project-item
              title="NEWSFLIX #4",
              imageLink="img/tes.jpg",
              liveLink="#",
              codeLink="#",
              description="Lorem ipsum dolor sit amet meta.",
              technologies="javascript,lit,sass,css,html,git",
              class="projects-wrapper d-none disposable active"
              id="project-4"
            >
            </project-item>
            <contact-content
              title="Let's talk!"
              fullTitle="Send me a message or or peep my socials out below."
              formTitle="Send me a message,"
              socialsTitle="or peep my socials out below."
              socialItems="Linkedin,Github,Instagram"
              socialLinks="https://www.linkedin.com/in/yudistiraardi/,https://github.com/yudistiraardi,https://www.instagram.com/arrdix/"
              class="contact-wrapper d-none disposable active"
              id="contact"
            >             
            </contact-content>
          </div>
        </main>
        <nav class="nav-wrapper glass translate-middle">
          <a href="#home" class="text-primary fs-10 fw-light lh-1 active">HOME</a>
          <a href="#about" class="text-primary fs-10 fw-light lh-1">ABOUT</a>
          <a href="#skills" class="text-primary fs-10 fw-light lh-1">SKILLS</a>
          <a href="#project-1" class="text-primary fs-10 fw-light lh-1">PROJECTS</a>
          <a href="#contact" class="text-primary fs-10 fw-light lh-1">CONTACT</a>
        </nav>
      </div>
    </div>
  </body>
</html>
