<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>STARTER</title>
  </head>
  <body>
    <img src="img/hero-img-bw.jpg" class="hero-image fixed-top object-fit-cover" alt="">
    <div class="container-fluid">
      <div class="wrapper">
        <main class="main-wrapper glass">
          <header class="header-wrapper">
            <P class="header-title fs-6 fw-medium text-primary disposable">YUDISTIRA ARDI</P>
            <div class="resume-wrapper disposable active">
              <P class="resume-title fs-6 fw-medium text-primary lh-1">Download Resume</P>
              <div class="download-wrapper">
                <a href="https://drive.google.com/uc?export=download&id=1EWpv2uVfZwNPyl4GJBpRxU1ADPhn5NsT" class="text-decoration-none fs-10 fw-light">Indonesia (ID)</a>
                <p class="fs-12 text-primary">|</p>
                <a href="https://drive.google.com/uc?export=download&id=1aKS1yiz-s7DVWcEHQry_I0bY1HWNoz2P" class="text-decoration-none fs-10 fw-light">English (EN)</a>
              </div>
            </div>
            <div class="header-image-wrapper">
              <img src="img/profile-pic.png" class="header-pic" alt="">
              <button type="button" class="btn btn-resume">
                <i class="bi bi-three-dots-vertical fs-5 text-primary"></i>
              </button>
            </div>
          </header>
          <div class="content-wrapper">
            <div class="home-wrapper disposable" id="home">
              <div class="greeting-wrapper">
                <h1 class="fs-xl fw-black text-primary lh-1">Hi there, it's Ardi.</h1>
                <h2 class="fs-4 fw-normal text-primary">I am a &lt/front-end developer&gt.</h2>
                <a href="#about" class="glass">
                  Peek Inside
                </a>
              </div>
            </div>
            <div class="about-wrapper d-none disposable active" id="about">
              <div class="message-wrapper">
                <h1 class="fs-xl fw-black text-primary">I'm addicted.</h1>
                <h2 class="fs-6 fw-normal text-primary">
                  Amet consectetur adipisicing <br/>
                  Delectus doloribus vero incidunt <br/>
                  Lorem ipsum, <br/>
                  aliquam quos error?
                </h2>
                <!-- <h2 class="fs-8 fw-bold text-primary">
                  Lorem ipsum dolor sit amet consectetur.
                </h2> -->
              </div>
            </div>
            <div class="skills-wrapper d-none disposable active" id="skills">
              <h1 class="skills-title fs-xl fw-black text-primary">Lorem, ipsum.</h1>
              <h2 class="favorites-title fs-6 fw-normal text-primary">I addicted the most</h2>
              <div class="favorites-wrapper">
                <img src="img/javascript.png" class="rounded-3 object-fit-cover" alt="">
                <img src="img/javascript.png" class="rounded-3 object-fit-cover" alt="">
                <img src="img/javascript.png" class="rounded-3 object-fit-cover" alt="">
              </div>
              <h2 class="technologies-title fs-6 fw-normal text-primary">The rest of them</h2>
              <div class="technologies-wrapper">
                <img src="img/javascript.png" class="rounded-3 object-fit-cover" alt="">
                <img src="img/javascript.png" class="rounded-3 object-fit-cover" alt="">
                <img src="img/javascript.png" class="rounded-3 object-fit-cover" alt="">
                <img src="img/javascript.png" class="rounded-3 object-fit-cover" alt="">
                <img src="img/javascript.png" class="rounded-3 object-fit-cover" alt="">
                <img src="img/javascript.png" class="rounded-3 object-fit-cover" alt="">
                <img src="img/javascript.png" class="rounded-3 object-fit-cover" alt="">
                <img src="img/javascript.png" class="rounded-3 object-fit-cover" alt="">
                <img src="img/javascript.png" class="rounded-3 object-fit-cover" alt="">
              </div>
              <p class="skills-message fs-6 fw-normal text-primary">
                I know it's not much but trust me, I am a <span class="fw-medium">fast learner.</span> 
              </p>
            </div>
            <div class="projects-wrapper d-none disposable active" id="projects">
              <h1 class="projects-title fs-xl fw-black text-primary">NEWSFLIX</h1>
              <div class="circle-wrapper">
                <i class="bi bi-circle-fill fs-12 active"></i>
                <i class="bi bi-circle-fill fs-12"></i>
                <i class="bi bi-circle-fill fs-12"></i>
                <i class="bi bi-circle-fill fs-12"></i>
                <i class="bi bi-circle-fill fs-12"></i>
                <i class="bi bi-circle-fill fs-12"></i>
              </div>
              <img src="img/tes.jpg" class="projects-preview positon-relative rounded-4 object-fit-cover" alt="">
              <div class="projects-detail">
                <div class="projects-actions">
                  <a href="" class="">
                    <i class="bi bi-laptop fs-5 text-primary"></i>
                  </a>
                  <a href="" class="">
                    <i class="bi bi-github fs-5 text-primary"></i>
                  </a>
                </div>
                <p class="detail-text fs-10 fw-light text-primary">
                  Lorem ipsum dolor sit amet meta. Lorem ipsum dolor sit amet. <br/>
                  Lorem ipsum dolor sit amet consecte, adipisicing elit. Magnam nobis illum delectus.
                </p>
              </div>
              <div class="projects-tech">
                <h3 class="tech-title fs-6 fw-bold text-primary">TECHNOLOGIES</h3>
                <div class="tech-wrapper">
                  <img src="img/javascript.png" class="w-100 rounded-3 object-fit-cover" alt="">
                  <img src="img/javascript.png" class="w-100 rounded-3 object-fit-cover" alt="">
                  <img src="img/javascript.png" class="w-100 rounded-3 object-fit-cover" alt="">
                  <img src="img/javascript.png" class="w-100 rounded-3 object-fit-cover" alt="">
                  <img src="img/javascript.png" class="w-100 rounded-3 object-fit-cover" alt="">
                </div>
              </div>
            </div>
            <div class="contact-wrapper d-none disposable active" id="contact">
              <h1 class="contact-title fs-xl fw-black text-primary">Let's talk!</h1>
              <h2 class="form-title fs-6 fw-normal text-primary">Send me a message,</h2>
              <form action="" class="form-wrapper">
                <input type="text" class="fs-10 fw-light text-primary" placeholder="Email" name="email">
                <textarea class="fs-10 fw-light text-primary" placeholder="Message" name="message"></textarea>
                <button type="submit" class="fs-10 fw-light text-primary">Send</button>
              </form>
              <h2 class="socials-title fs-6 fw-normal text-primary">or peep my socials out below.</h2>
              <div class="socials-wrapper">
                <a href="" class="">
                  <i class="bi bi-linkedin fs-5 text-primary"></i>
                  <p class="fs-10 fw-light text-primary">Linkedin</p>
                </a>
                <a href="">
                  <i class="bi bi-github fs-5 text-primary"></i>
                  <p class="fs-10 fw-light text-primary">Github</p>
                </a>
                <a href="">
                  <i class="bi bi-instagram fs-5 text-primary"></i>
                  <p class="fs-10 fw-light text-primary">Instagram</p>
                </a>
              </div>
              <footer class="footer-text fs-10 fw-normal text-primary">
                Made with ❤ by Yudistira Ardi. Powered by <a href="https://getbootstrap.com/" class="text-decoration-none"><i class="bi bi-bootstrap"></i> Bootstrap</a>.
              </footer>
            </div>
          </div>
        </main>
        <nav class="nav-wrapper glass translate-middle">
          <a href="#home" class="text-primary fs-10 fw-light lh-1 active">HOME</a>
          <a href="#about" class="text-primary fs-10 fw-light lh-1">ABOUT</a>
          <a href="#skills" class="text-primary fs-10 fw-light lh-1">SKILLS</a>
          <a href="#projects" class="text-primary fs-10 fw-light lh-1">PROJECTS</a>
          <a href="#contact" class="text-primary fs-10 fw-light lh-1">CONTACT</a>
        </nav>
      </div>
    </div>
  </body>
</html>
